@import "base";
@import "pages/home";
@import "resolutions/desktop";
@import "resolutions/devices";

#menu {
  .transition(all .8s ease-in-out);
}

header {
  position: relative;
  top: 0px;
}

section {
  padding-top: 100px;
}

/* UL LI */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Anchor */
a {
  color: #00A2CA;
  text-decoration: none;
  z-index: 1;
  position: relative;
}

nav {
  background-color: #23242A;
  position: fixed;
  z-index: 2;

  width: 100%;
  height: 55px;
  top: 0;

  ul {
    background-color: #23242A;
  }
}


